<%= form_with(model: @assignment, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :event_id, "Evento", class: "form-label" %>
    <%= form.collection_select :event_id,
                               Event.where(state: "confirmado"),
                               :id,
                               :name,
                               { prompt: "Seleccione un evento" },
                               class: "form-select" %>

  </div>

  <div class="mb-3">
    <%= form.label :employee_id, "Personal", class: "form-label" %>
    <%= form.collection_select :employee_id,
                               Employee.where(active: true),
                               :id,
                               :name,
                               { prompt: "Seleccione un personal" },
                               class: "form-select",
                               id: "assignment_employee",
                               data: {
                                 employees: Employee.all.map { |e| [e.id, e.position] }.to_h.to_json
                               } %>

  </div>

  <div class="mb-3">
    <%= form.label :role, "Rol", class: "form-label" %>
    <%= form.select :role,
                    ["Coordinador", "Técnico", "Asistente", "Logística", "Fotógrafo", "Seguridad"],
                    { prompt: "Seleccione un rol" },
                    class: "form-select" %>
  </div>


  <div class="mb-3">
    <%= form.label :task, "Tarea", class: "form-label" %>
    <%= form.text_field :task, class: "form-control" %>
  </div>


  <%= form.submit @assignment.new_record? ? "Agregar" : "Actualizar", class: "btn btn-success" %>
  <%= link_to "Cancelar", assignments_path, class: "btn btn-secondary ms-2" %>
<% end %>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const employeeSelect = document.getElementById("assignment_employee");
        const roleSelect = document.getElementById("assignment_role");

        if (!employeeSelect) return;

        const employeeRoles = JSON.parse(employeeSelect.dataset.employees);

        employeeSelect.addEventListener("change", () => {
            const employeeId = employeeSelect.value;

            if (employeeId && employeeRoles[employeeId]) {
                roleSelect.value = employeeRoles[employeeId];
            } else {
                roleSelect.value = ""; // limpia si no hay selección
            }
        });
    });
</script>

