<div class="container mt-4">
  <h1 class="mb-4">Lista de eventos</h1>

  <%= link_to 'Agregar Evento', new_event_path, class: 'btn btn-primary mb-3' %>

  <div class="mb-3 d-flex justify-content-end">
    <%= form_with url: events_path, method: :get, local: true, class: "d-flex" do %>
      <%= text_field_tag :search, params[:search], class: "form-control me-2", placeholder: "Buscar..." %>
      <%= submit_tag "Buscar", class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Cliente</th>
      <th>Tipo de evento</th>
      <th>Fecha de inicio</th>
      <th>Fecha de finalizacion</th>
      <th>Lugar</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% @events.each do |event| %>
      <tr class="text-capitalize">
        <td><%= event.name %></td>
        <td><%= event.client&.name %></td>
        <td><%= event.event_type %></td>
        <td><%= event.start_date.strftime("%d/%m/%Y") %></td>
        <td><%= event.end_date.strftime("%d/%m/%Y") %></td>
        <td><%= event.address %></td>
        <td><%= event.state %></td>
        <td>
          <%= link_to 'Editar', edit_event_path(event), class: 'btn btn-sm btn-warning' %>
          <%= link_to 'Eliminar', event_path(event),
                      data: { turbo_method: :delete, turbo_confirm: '¿Seguro que deseas eliminar este evento?' },
                      class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="d-flex justify-content-between align-items-center mt-3">
    <small class="text-muted">
      Mostrando <%= @events.offset_value + 1 %> -
      <%= @events.offset_value + @events.length %>
      de <%= @events.total_count %> evento<%= @events.total_count != 1 ? 's' : '' %>
      <% if params[:search].present? %>
        (resultados de búsqueda)
      <% end %>
    </small>

    <%= paginate @events, params: { search: params[:search] } %>
  </div>
</div>
